In [1]:
import math
import random
import warnings
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import statistics as stat
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

In [2]:
rental_csv = pd.read_csv('housing_train.csv')

In [3]:
rental_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265190 entries, 0 to 265189
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       265190 non-null  int64
 1   url                      265190 non-null  object
 2   region                   265190 non-null  object
 3   region_url               265190 non-null  object
 4   price                    265190 non-null  int64
 5   type                     265190 non-null  object
 6   sqfeet                   265190 non-null  int64
 7   beds                     265190 non-null  int64
 8   baths                    265190 non-null  float64
 9   cats_allowed             265190 non-null  int64
 10  dogs_allowed             265190 non-null  int64
 11  smoking_allowed          265190 non-null  int64
 12  wheelchair_access        265190 non-null  int64
 13  electric_vehicle_charge  265190 non-null  int64
 14  comes_furnished          265190 non-null  int64
 15  laundry_options          210879 non-null  object
 16  parking_options          170055 non-null  object
 17  image_url                265190 non-null  object
 18  description              265188 non-null  object
 19  lat                      263771 non-null  float64
 20  long                     263771 non-null  float64
 21  state                    265189 non-null  object
dtypes: float64(3), int64(10), object(9)
memory usage: 44.5+ MB

In [4]:
rental_csv.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'type', 'sqfeet', 'beds',
       'baths', 'cats_allowed', 'dogs_allowed', 'smoking_allowed',
       'wheelchair_access', 'electric_vehicle_charge', 'comes_furnished',
       'laundry_options', 'parking_options', 'image_url', 'description', 'lat',
       'long', 'state'],
      dtype='object')

In [5]:
rental_csv.head(5)

,id,url,region,region_url,price,type,sqfeet,beds,baths,cats_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,image_url,description,lat,long,state
0,7039061606,https://bham.craigslist.org/apa/d/birmingham-h...,birmingham,https://bham.craigslist.org,1195,apartment,1908,3,2.0,1,...,0,0,0,laundry on site,street parking,https://images.craigslist.org/00L0L_80pNkyDeG0...,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al
1,7041970863,https://bham.craigslist.org/apa/d/birmingham-w...,birmingham,https://bham.craigslist.org,1120,apartment,1319,3,2.0,1,...,0,0,0,laundry on site,off-street parking,https://images.craigslist.org/00707_uRrY9CsNMC...,Find Your Way to Haven Apartment Homes Come ho...,33.3755,-86.8045,al
2,7041966914,https://bham.craigslist.org/apa/d/birmingham-g...,birmingham,https://bham.craigslist.org,825,apartment,1133,1,1.5,1,...,0,0,0,laundry on site,street parking,https://images.craigslist.org/00h0h_b7Bdj1NLBi...,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al
3,7041966936,https://bham.craigslist.org/apa/d/birmingham-f...,birmingham,https://bham.craigslist.org,800,apartment,927,1,1.0,1,...,0,0,0,laundry on site,street parking,https://images.craigslist.org/00808_6ghZ8tSRQs...,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al
4,7041966888,https://bham.craigslist.org/apa/d/birmingham-2...,birmingham,https://bham.craigslist.org,785,apartment,1047,2,1.0,1,...,0,0,0,laundry on site,street parking,https://images.craigslist.org/00y0y_21c0FOvUXm...,Apartments In Birmingham AL Welcome to 100 Inv...,33.4226,-86.7065,al

In [6]:
rental_csv.describe()

,id,price,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,lat,long
count,2.651900e+05,2.651900e+05,2.651900e+05,265190.000000,265190.000000,265190.000000,265190.000000,265190.000000,265190.000000,265190.000000,265190.000000,263771.000000,263771.000000
mean,7.040888e+09,1.227285e+04,1.093678e+03,1.912414,1.483468,0.716822,0.696550,0.733896,0.078759,0.014360,0.048644,37.208855,-92.398149
std,8.778930e+06,5.376352e+06,2.306888e+04,3.691900,0.630208,0.450543,0.459749,0.441920,0.269362,0.118968,0.215124,5.659648,17.370780
min,7.003808e+09,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-43.533300,-163.894000
25%,7.035963e+09,8.170000e+02,7.520000e+02,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,33.508500,-104.704000
50%,7.043109e+09,1.060000e+03,9.500000e+02,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,37.984900,-86.478300
75%,7.048362e+09,1.450000e+03,1.156000e+03,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,41.168400,-81.284600
max,7.051263e+09,2.768307e+09,8.388607e+06,1100.000000,75.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,102.036000,172.633000

In [7]:
print('Total number of records in the dataset:')
rental_csv.shape

Total number of records in the dataset:

(265190, 22)

In [8]:
rental_csv.count()

id                         265190
url                        265190
region                     265190
region_url                 265190
price                      265190
type                       265190
sqfeet                     265190
beds                       265190
baths                      265190
cats_allowed               265190
dogs_allowed               265190
smoking_allowed            265190
wheelchair_access          265190
electric_vehicle_charge    265190
comes_furnished            265190
laundry_options            210879
parking_options            170055
image_url                  265190
description                265188
lat                        263771
long                       263771
state                      265189
dtype: int64

In [9]:
print("The Datatypes of the attributes: ")
rental_csv.dtypes

The Datatypes of the attributes:

id                           int64
url                         object
region                      object
region_url                  object
price                        int64
type                        object
sqfeet                       int64
beds                         int64
baths                      float64
cats_allowed                 int64
dogs_allowed                 int64
smoking_allowed              int64
wheelchair_access            int64
electric_vehicle_charge      int64
comes_furnished              int64
laundry_options             object
parking_options             object
image_url                   object
description                 object
lat                        float64
long                       float64
state                       object
dtype: object

## Count of number nulls

In [10]:
result=pd.DataFrame(rental_csv.isna().sum())

In [11]:
result.columns=["count_nulls"]

In [12]:
print("The number of null records in the dataset:\n")
print(result)

The number of null records in the dataset:

                         count_nulls
id                                 0
url                                0
region                             0
region_url                         0
price                              0
type                               0
sqfeet                             0
beds                               0
baths                              0
cats_allowed                       0
dogs_allowed                       0
smoking_allowed                    0
wheelchair_access                  0
electric_vehicle_charge            0
comes_furnished                    0
laundry_options                54311
parking_options                95135
image_url                          0
description                        2
lat                             1419
long                            1419
state                              1

In [13]:
print('Fields containing null values :')
result.loc[(result["count_nulls"]>0)]

Attributes containing null values :

                 count_nulls
laundry_options        54311
parking_options        95135
description                2
lat                     1419
long                    1419
state                      1

## REMOVE NULL

In [14]:
new_rental= rental_csv.dropna()

## CHECKING NULL

In [15]:
result=pd.DataFrame(new_rental.isna().sum())

In [16]:
result.columns=["count_nulls"]

In [17]:
print(result)
print('\n All records with null are removed successfully!')

                         count_nulls
id                                 0
url                                0
region                             0
region_url                         0
price                              0
type                               0
sqfeet                             0
beds                               0
baths                              0
cats_allowed                       0
dogs_allowed                       0
smoking_allowed                    0
wheelchair_access                  0
electric_vehicle_charge            0
comes_furnished                    0
laundry_options                    0
parking_options                    0
image_url                          0
description                        0
lat                                0
long                               0
state                              0

 All records with null are removed successfully!

## DUPLICATE

In [18]:
print('Total Duplicates present :',new_rental.duplicated().sum())

Total Duplicates present : 0

In [20]:
rental= new_rental.drop_duplicates(keep="last", inplace=False)
print('The record counts after duplicates removed:\n ')
print(rental.count())

The recod counts after duplicates removed:

id                         164283
url                        164283
region                     164283
region_url                 164283
price                      164283
type                       164283
sqfeet                     164283
beds                       164283
baths                      164283
cats_allowed               164283
dogs_allowed               164283
smoking_allowed            164283
wheelchair_access          164283
electric_vehicle_charge    164283
comes_furnished            164283
laundry_options            164283
parking_options            164283
image_url                  164283
description                164283
lat                        164283
long                       164283
state                      164283
dtype: int64

In [21]:
print('Total Duplicates :',rental.duplicated().sum())

Total Duplicates : 0

In [22]:
rental['cats_allowed'] = rental['cats_allowed'].astype('bool')
rental['dogs_allowed'] = rental['dogs_allowed'].astype('bool')
rental['smoking_allowed'] = rental['smoking_allowed'].astype('bool')
rental['wheelchair_access'] = rental['wheelchair_access'].astype('bool')
rental['electric_vehicle_charge'] = rental['electric_vehicle_charge'].astype('bool')
rental['comes_furnished'] = rental['comes_furnished'].astype('bool')

In [23]:
rental['price'] = rental['price'].astype(float)

In [24]:
print("New datatypes of the attributes : ")
rental.dtypes

New datatypes of the attributes :

id                           int64
url                         object
region                      object
region_url                  object
price                      float64
type                        object
sqfeet                       int64
beds                         int64
baths                      float64
cats_allowed                  bool
dogs_allowed                  bool
smoking_allowed               bool
wheelchair_access             bool
electric_vehicle_charge       bool
comes_furnished               bool
laundry_options             object
parking_options             object
image_url                   object
description                 object
lat                        float64
long                       float64
state                       object
dtype: object

In [25]:
print('Total records in the dataset after pre-processing:')
rental.shape

Total records in the dataset after pre-processing:

(164283, 22)

In [26]:
rental.describe()

,id,price,sqfeet,beds,baths,lat,long
count,1.642830e+05,1.642830e+05,1.642830e+05,164283.000000,164283.000000,164283.000000,164283.000000
mean,7.040979e+09,1.885828e+04,1.148372e+03,1.933341,1.477947,37.766159,-94.170696
std,8.841901e+06,6.830498e+06,2.920158e+04,4.640400,0.648084,5.744449,17.587915
min,7.004032e+09,0.000000e+00,0.000000e+00,0.000000,0.000000,-43.533300,-163.894000
25%,7.035968e+09,8.220000e+02,7.500000e+02,1.000000,1.000000,33.979500,-105.869000
50%,7.043401e+09,1.084000e+03,9.500000e+02,2.000000,1.000000,38.666800,-88.641200
75%,7.048479e+09,1.500000e+03,1.160000e+03,2.000000,2.000000,41.602500,-81.606600
max,7.051263e+09,2.768307e+09,8.388607e+06,1100.000000,75.000000,64.993700,172.633000